{% extends 'tienda_app/base.html' %}
{% block content %}
<h1>Acerca de Nosotros</h1>
<p>Bienvenidos a nuestra tienda de ropa usada. Aquí encontrarás productos seleccionados con mucho cariño, creados por un equipo apasionado por la moda sustentable. ¡Gracias por apoyarnos!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nihil inventore harum voluptatem expedita sapiente ullam quod sequi placeat suscipit vitae, voluptates eos accusamus modi exercitationem ipsum illo? Iste, ea.
    </p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui repellendus quis officiis voluptas similique repellat eos nemo, molestiae soluta exercitationem eius quae facilis laudantium neque atque non aliquid deserunt cumque.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui repellendus quis officiis voluptas similique repellat eos nemo, molestiae soluta exercitationem eius quae facilis laudantium neque atque non aliquid deserunt cumque.

</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui repellendus quis officiis voluptas similique repellat eos nemo, molestiae soluta exercitationem eius quae facilis laudantium neque atque non aliquid deserunt cumque.

</p>
{% endblock %}

