<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Ropa Usada</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/styles.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light theme-dark">
        <a class="navbar-brand" href="{% url 'pages' %}">BLOG</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Tienda</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Acerca de nuestro Proyecto</a></li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="d-flex justify-content-end">
                <li class="nav-item list-unstyled mt-2"><a class="nav-link btn btn-outline-success rounded-pill mr-2" href="{% url 'logout' %}">Cerrar sesión</a></li>
                <li class="nav-item list-unstyled mt-2"><a class="nav-link btn btn-success rounded-pill" href="{% url 'create_page' %}">Crear página</a></li>
                {% else %}
                <li class="nav-item list-unstyled mt-2"><a class="nav-link btn btn-success rounded-pill mr-2" href="{% url 'login' %}">Iniciar sesión</a></li>
                <li class="nav-item list-unstyled mt-2"><a class="nav-link btn btn-outline-success rounded-pill" href="{% url 'signup' %}">Registrar</a></li>
            {% endif %}
            </ul>
        </div>
        <div class="navbar-nav">
            <!-- Botón con icono de avatar -->
            <a href="/perfil" class="btn btn-outline-success rounded-circle d-flex align-items-center justify-content-center ml-4" style="width: 50px; height: 50px; font-size: 50px;">
                <i class="bi bi-person-circle"></i> 
            </a>
        </div>
    </nav>
    <div class="position-fixed top-0 end-0 p-3 mt-3">
        <a href="/mensajes/inbox" class="btn btn-success rounded-circle p-2" style="width: 60px; height: 60px; font-size: 40px;">
            <i class="bi bi-envelope"></i>
        </a>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
   
</body>
</html>
